<!-- 공통 템플릿, Nav-bar -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'item_detail.css' %}">
    <link rel="stylesheet" href="{% static 'tool_detail.css' %}">
    <link rel="stylesheet" href="{% static 'tool_list.css' %}">
    <link rel="stylesheet" href="{% static 'create.css' %}">
    <link rel="stylesheet" href="{% static 'edit.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="container">
                <div>
                    <a href="{% url 'ideas:index' %}"class="navbar_brand">My SW Idea Manage</a>
                </div>
                <div class="navbar_list" id="navbarNav">
                    <ul class="navbar_nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ideas:create' %}">아이디어 등록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ideas:index' %}">아이디어 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tools:create' %}">개발툴 등록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tools:index' %}">개발툴 관리</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {#{% block 블록이름 %}: 부모 템플릿에서 자식 템플릿이 내용을 채워 넣을 수 있도록 블록을 정의 #}
        <div class="page_container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
</html>